SECRET_KEY=CHANGE_ME_run_python3_-c_"import_secrets;print(secrets.token_hex(32))"
APP_URL=http://your-droplet-ip
# SENDGRID_API_KEY=
# SENDGRID_FROM_EMAIL=noreply@yourdomain.com
STORAGE_BACKEND=local
